<launch>

  <!-- Opencr -->
  <include file="$(find handirob_bringup)/launch/opencr.launch">
  </include>

  <!-- Lidar -->
  <include file="$(find handirob_bringup)/launch/lds.launch">
  </include>

  <!-- Realsense -->
  <!--include file="$(find realsense2_camera)/launch/rs_camera.launch"-->
  <include file="$(find realsense2_camera)/launch/rs_d435_camera_with_model.launch">
    <arg name="filters" value="pointcloud"/>
    <arg name="initial_reset" value="true"/>
  </include>

</launch>
