<launch>
  <arg name="lidar" default="true"/>
  <arg name="camera" default="true"/>

  <!-- Opencr -->
  <include file="$(find handirob_bringup)/launch/opencr.launch">
  </include>

  <!-- Lidar -->
  <group if="$(arg lidar)">
    <include file="$(find handirob_bringup)/launch/lds.launch">
    </include>
  </group>

  <!-- Realsense -->
  <group if="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <!--include file="$(find realsense2_camera)/launch/rs_d435_camera_with_model.launch"-->
      <!--arg name="enable_pointcloud" value="true"/-->
      <!--arg name="filters" value="pointcloud"/-->
      <!--arg name="initial_reset" value="true"/-->
    </include>
  </group>

</launch>
