<launch>
  <arg name="model" default="handirob"/>
  <arg name="multi_robot_name" default=""/>

  <include file="$(find handirob_bringup)/launch/handirob_remote.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find handirob_description)/rviz/model.rviz"/>
</launch>
