<launch>
  <!-- Arguments -->
    <param name="pos_x"             value="0.88625"/>
    <param name="pos_y"             value="-0.6643"/>
    <param name="pos_z"             value="0"/>
    <param name="rot_x"             value="0"/>
    <param name="rot_y"             value="0"/>
    <param name="rot_z"             value="0.446"/>
    <param name="rot_w"             value="0.895"/>
  <!-- autonomous_navigation -->
  <node pkg="autonomous_nav" type="set_goal.py" name="set_goal">

  </node>
</launch>
